*{
    margin: 0;
    padding: 0;

}

 /* navbar start */
.navbar{
background-image: url(images/Hero-bg.png);

   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.upper-part{                               
    display: flex;
    justify-content: space-around ; 
        
}                                                                
.logo{
    color: blue;
    display: flex;
    justify-items: center;
}
.logo>b{
    font-size: 34px;

}
.box>button{
    color: #fff;
    background-color: #4E47FF;
    padding: 12px  36px;
    border-radius: 5px;
    border: none;
}
 /* banner start */
.banner{
    display: flex;
flex-direction: column;
    text-align: center;
    justify-content: center;
   
}

.banner>h1{
    font-size: 65px;
    color: #252432;
  
}
 /* action start */
.action{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.le-si{
    display: flex;
    flex-direction: column;   
justify-content: center;
gap: 10px;
}
.le-si>h4{
    font-size: 26px;
}
.le-si>p{
   
    color: #252432;
    font-size: 16px;
}
.ri-si{
    width: 20%;
}
.ri-si>img{
    border-radius: 20px;
    width: 100%;
}
 /* productive start */
.Productive{
    width: 80%;
 margin: auto;
    background-color: rgb(218, 215, 215);
    padding: 40px;
}
.fir-chi{
    text-align: center;
}
.sec-chi{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.ratio{
    color: #4E47FF;
    font-size: 50px;
}
.per{
    color: #000000;
    opacity: .5;
}